$font-main: "Inter V";
$font-monospace: "JetBrains Mono";
$font-icon: "Font Awesome 5 Free Solid Brand Regular";


// Basic colors
$cyan: #add9ff;

// Colors
$fg-color: #c5c8c6;
$fg-alt-color: #afafaf;
$border-color: #434549;

$fg-accent: $cyan;

// Misc
$anim-transition: 150ms;


* {
  all: unset;
}


@import "scss/themes/theme.scss";

// # tooltip
tooltip {
  color: $color-tooltip;
  background-color: darken($color-tooltipbg, $amount: 8.5%);
  font-family: $font-monospace;
  font-weight: 600;
}

// Launcher
.launcher_icon {
  color: $color-launcher;
  font-family: $font-icon;
  font-size: 1.7em;
  padding: 0.5rem 0 0.5rem 0;
}

// BSPWM Window Name

.bspwm_window {
  margin: 0 6px;
  padding: 0.5rem 0 0.5rem 0;
  color: #9d2235;
  font-family: $font-main;

  & .icon {
    font-family: $font-icon;
    font-size: 1.7em;
  }
}

// BSPWM Window State

.bspwm_modes {
  padding: 0.5rem 0 0.5rem 0;
  color: $color-cyan;
  font-family: $font-icon;
  font-size: 1.5em;
}

// # bar

.bar {
  color: $color-fg;
  //background-color: darken($colorbg-bar, $amount: 3.5%);
  //background-color: darken($colorbg-bar, 2.5%);
  background-color: $colorbg-bar;
  font-family: $font-monospace;
  font-size: 12px;
  padding: 0.3rem;
}

.icon {
  font-family: $font-icon;
  font-size: 1.7em;
}

.label_small {
  font-weight: 600;
  font-size: 8px;
}

.c_progress {
  color: $color-fg;
  background-color: rgba($color: $color-fg, $alpha: 0.25);
}

.c_progress_box {
  min-width: 30px;
  min-height: 30px;
}

.c_progress_label {
  padding: 10px;
  color: currentColor;
  background-color: darken($color-bg, 8%);
  font-weight: 600;
  font-size: 8px;

  &.icon {
    padding: 0;
    font-size: 15px;
  }
}

.section_top {
  padding: 8px 0;
}

.section_center {
  padding: 8px 0;
}

.section_bottom {
  padding: 8px 0;
}

.wintitle {
  background-color: darken($color-bg, 8%);
  color: $color-cyan;
  margin: 0 6px;
  padding: 3px 0;
  border-radius: 6px;
  font-family: $font-main;
  font-size: 16px;
}

.workspaces {
  margin: 0 4px;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 5px;
  color: $color-altdesktop;
  background-color: darken($color-bg, 0.6%);

  &.active {
    color: $color-magenta;
    font-size: 21px;
  }

  & .inactive {
  font-family: $font-icon; 
  font-size: 1.3em;
  color: $fg-alt-color;
  transition: color $anim-transition;
  padding: 0.4rem;
}


  & .workspace {
    font-family: $font-icon;
    font-size: 1.3em;
    margin: 0.15rem 0 0.15rem 0;
  }
}


.color_notify {
  color: #d680ec;
  background-color: rgba($color: #d680ec, $alpha: 0.25);
}

.color_notify_paused {
  color: #aba8cb;
  background-color: rgba($color: #d680ec, $alpha: 0.25);
}

.color_volume {
  color: #79bdf5;
  background-color: rgba($color: #79bdf5, $alpha: 0.25);
}

.color_volume_muted {
  color: #f57979;
  background-color: rgba($color: #f57979, $alpha: 0.25);
}

.color_brightness {
  color: #eff780;
  background-color: rgba(#eff780, $alpha: 0.25);
}

.color_battery_low {
  color: saturate($color-red, 75%);
  background-color: rgba($color: saturate($color-red, 75%), $alpha: 0.25);
}

.color_battery_charging {
  color: saturate($color-green, 75%);
  background-color: rgba($color: saturate($color-green, 75%), $alpha: 0.25);
}

.color_battery_discharging {
  color: #7a95e9;
  background-color: rgba($color: #7a95e9, $alpha: 0.25);
}

.color_power {
  color: #e97acc;
  background-color: rgba($color: #e97acc, $alpha: 0.25);
}

.date-text {
  //font-family: "Iosevka Nerd Font";
  font-family: Comic Mono;
  font-size: 1.2em;
  color: #d2daf4;
}

.date {
  //font-family: "Iosevka Nerd Font";
  font-family: Comic Mono;
  font-size: 1.2em;
  //background-color: #24283b;
  color: #d2daf4;
  border-radius: 5px;
}

.hour-text {
  //font-family: "Iosevka Nerd Font";
  font-family: Comic Mono;
  //font-size: 40px;
  font-size: 1.2em;
  color: #d2daf4;
}

.minute-text {
  //font-family: "Iosevka Nerd Font";
  font-family: Comic Mono;
  //font-size: 40px;
  font-size: 1.2em;
  //margin-bottom: 10px;
  color: #d2daf4;
}

.time {
  font-family: Comic Mono;
  font-weight: bold;
  font-size: 1.2em;
  color: #d2daf4;
  border-radius: 5px;
}

// # notification base

.panel_container {
  padding: 1.7em 1.3em 1.7em 1.3em;
  border-radius: 6px;
  //color: $color-fg;
  //background-color: darken($color-bg, 2.5%);
  color: $color-panel;
  background-color: darken($color: $color-panelbg, $amount: 3.5%);
  font-family: $font-main;
  font-weight: 600;
  font-size: 12px;
}

.panel_progress {
  trough {
    min-width: 140px;
    min-height: 8px;
    border-radius: 4px;
    background-color: rgba($color: $color-fg, $alpha: 0.4);

    // # progress
    progress {
      min-height: 8px;
      border-radius: 4px;
      background-color: $color-fg;
    }

    // # scale or slider
    highlight {
      min-height: 8px;
      border-radius: 4px;
      background-color: $color-fg;
    }
  }
}

.panel_scale {
  @extend .panel_progress;
}

.panel_button {
  padding: 4px 8px;
  border: 2px solid rgba($color: $color-fg, $alpha: 0.25);
  border-radius: 4px;
  color: #04a5e5;
  background-color: darken($color-bg, 3.5%);

  &:hover {
    border-color: $color-fg;
  }
}

// # calendar

.calendar {
  font-family: "Iosevka Nerd Font";
  font-size: 1.3em;
  font-weight: bold;
  padding: 1rem 1rem 0.2rem;

  calendar {
    &.highlight {
      color: $color-magenta;
      padding: 0.8rem 0.25rem 0rem;
      margin-left: 10px;
    }

    &.header {
      color: $color-magenta;
      font-weight: bold;
    }

    &:selected {
      border-radius: 3px;
      color: $color-calselecter;
      background-color: $color-magenta;
    }

    &:indeterminate {
      color: rgba($color: #c0caf5, $alpha: 0.5);
    }
  }
}

/***********************************************/
